*.jpg
*.jpeg
*.png
.vscode
__pycache__
bin
include
lib
.Python
snapshots/*.png
training_images/*.jpg
encoded_files/dataset_faces.dat
.DS_Store
venv
*.sqlite
logs/*.log.*
logs/*.log
!logs/.gitkeep
facelock/*.db
